{% extends 'base.html' %}
{% block content %}
<div class="header">
    App Performance with ElastiCache
</div>

{% if error %}
<div class="error section">
    <span class="section-title">
        Error
    </span>
    <span>{{ error }}</span>
</div>
{% endif %}

{% if db_host %}
<div class="section">
    <span class="section-title">
        Database Host
    </span>
    <span>{{ db_host }}</span>
</div>
{% endif %}

{% if db_version %}
<div class="section">
    <span class="section-title">
        Database Version
    </span>
    <span>{{ db_version }}</span>
</div>
{% endif %}

<div class="section">
    <span class="section-title">
        Elapsed Time
    </span>
    <span>{{ g.request_time() }}</span>
</div>
{% endblock %}
